{% extends "base.html" %}

{% block content %}

<div class="prompt-header">
    <h6>Prompt</h6>
    <h3>{{ prompt.message }}</h3>
    {% if prompt.description %}
    <h6 class="prompt-description">{{ prompt.description }}</h6>
    {% endif %}
</div>
<div class="row">

    <div class="eight columns">
        <form action="./respond" method="POST">
            {% csrf_token %}
            <textarea name="message" class="message u-full-width"></textarea>
            <input type="submit" class="button-primary" value="Send">
        </form>


        {% for reply in prompt.replies %}
            <div>
                <p>{{ reply.content }}</p>
                <p>{{ reply.email }}</p>
                <p>{{ reply.timestamp }}</p>
            </div>
        {% endfor %}

    </div>

    <div class="four columns">
        <div>
            <a class="creator" href="{% url 'user_view' prompt.user.id %}">{{ prompt.user.name }}</a>
            <p class="more-prompts">More prompts by this user:</p>
            <ul>
                {% for prompt in other_user_prompts %}
                <li><a href="{% url 'prompt_view' 0 prompt.id %}">{{ prompt.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
    </div>
</div>

{% endblock %}
