{% extends "base.html" %}

{% block content %}

<h1>{{ prompt.message }}</h1>

{% if prompt.description %}
<h6 class="prompt-description">{{ prompt.description }}</h6>
{% endif %}

<div class="row">

    <div class="seven columns">
        <form action="./respond" method="POST">
            {% csrf_token %}
            <textarea name="message" class="u-full-width"></textarea>
            <input type="submit" class="button-primary" value="Send">
        </form>


        {% for conversation in conversations %}
            <div>
                <p>{{ conversation.last_message.message }}</p>
                <p>{{ conversation.last_message.from_email }}</p>
            </div>
        {% endfor %}

    </div>

    <div class="five columns">
        <div>
            <p>Created by <a href="{% url 'user_view' prompt.user.id %}">{{ prompt.user.name }}</a>.</p>
            <p>Other prompts by {{ prompt.user.name }}:</p>
            <ul>
                {% for prompt in other_user_prompts %}
                <li><a href="{% url 'prompt_view' 0 prompt.id %}">{{ prompt.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
    </div>
</div>

{% endblock %}
