header {
    padding: 20px 0;
    height: 50px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(215, 215, 215);
}


a.logo {
    display: inline-block;
    width: 200px;
    line-height: 50px;
}

a.logo img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

a.logo:hover {
    opacity: 0.5;
}

header .columns {
    height: 50px;
    line-height: 40px;
}

.person {
    color: #888;
}

.prompt-description {
    font-style: italic;
}

.undecorated {
    text-decoration: none;
    color: inherit;
}

.centered {
    text-align: center;
}

.half-height {
    font-size: 50%;
}

.main-nav {
    text-align: right;
}

.main-nav ul {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.main-nav ul li:last-child {
    margin-right: 0;
}


.main-nav ul li .button {
    margin: 0;
}

a.creator {
    display: block;
    background-color: rgb(50, 210, 88);
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
}

a.creator:hover {
    background-color: rgb(40, 160, 69);
}

.prompt-header {
    margin-bottom: 40px;
}

textarea.message {
    min-height: 175px;
    resize: none;
}

span.login-message {
    margin-left: 10px;
}

.more-prompts {
    margin-bottom: 15px;
}

ul.reply-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.replies {
    border-top: 1px solid rgb(215, 215, 215);
    list-style-top: none;
    padding: 0;
    margin: 0;
}

ul.replies li {
    display: block;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

ul.replies li p.meta {
    margin: 0;
    color: grey;
    font-size: 13px;
}

select {
    font-size: 1.5rem;
}

input, textarea {
    font-size: 1.5rem;
    padding: 10px;
}

form input[type="text"], form input[type="email"], form input[type="password"], form textarea {
    width: 100%;
}

form textarea {
    min-height: 160px;
}

form select {
    min-width: 300px;
}

ul.listing {
    list-style-type: none;
    margin: 1rem 0 0 0;
    border: 0;
}

ul.listing li {
    border-top: 1px solid rgb(215, 215, 215);
    padding: 10px 0;
    margin: 0;
}

div.control {
    text-align: right;
}

div.topbar {
    height: 60px;
    line-height: 60px;
    margin-bottom: 2rem;
}

div.topbar h1 {
    margin: 0;
}

.block-listing {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.block-listing .block {
    display: block;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding: 20px;
}

button:disabled, button:disabled:hover {
    cursor: default;
    background-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

div.content-area {
    margin-top: 3rem;
}