.banner {
    color: green;
    font-style: italic;
}

.prompt-description {
    font-style: italic;
}

.undecorated {
    text-decoration: none;
    color: inherit;
}

.half-height {
    font-size: 50%;
}
