<!doctype html>
<html>{% load staticfiles %}
<head>
    <title>codex</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="four columns"><a href="/" class="banner undecorated">codex</a></div>
            <div class="main-nav eight columns">
                <ul>
                    <li><a href="/" class="undecorated">Explore</a></li>
                    <li><a href="{% url 'lists' %}" class="undecorated">Your Lists</a></li>
                    <li><a href="{% url 'user_view' request.user.email %}" class="undecorated">Profile</a></li>
                </ul>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
