<!doctype html>
<html>{% load staticfiles %}
<head>
    <title>codex</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="six columns"><a href="/" class="logo banner undecorated"><img alt="Storypost" src="{% static 'storypost-logo.svg' %}" /></a></div>
            <div class="main-nav six columns">
                <ul>
                    <li><a href="/" class="undecorated">Explore</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user_view' user.username %}" class="undecorated">Profile</a></li>
                    <li><a href="{% url 'logout' %}" class="undecorated">Logout</a></li>
                    <li><a href="{% url 'prompt_add_quick' %}" class="button button-primary undecorated">Create Prompt</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" class="undecorated">Login</a></li>
                    <li><a href="{% url 'register' %}" class="button undecorated">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        {% block banner %}
        {% endblock %}
        <div class="row">
            <div class="eight columns">
            {% block left %}
            {% endblock %}
            </div>
            <div class="four columns">
            {% block right %}
            {% endblock %}
            </div>
        </div>
        {% block full %}
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "codex.js" %}"></script>
    <script>
        $(codex.relativise_timestamps)
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
