{% extends "base.html" %}

{% block full %}

<div class="centered">
    <h6><em>Featured prompt</em></h6>

    <h3>{{ featured_prompt.message|linebreaks }}</h3>

    <a href="{{ featured_prompt.get_absolute_url }}" class="button button-primary">Reply</a>
</div>

<div class="top-space">
    <h6 class="centered"><em>Other popular prompts and responses:</em></h6>
</div>

{% for item in featured_items %}
    {% if forloop.counter|add:"2"|divisibleby:"3" or forloop.counter == 1 %}
    <div class="block-listing row">
    {% endif %}
        <div class="block four columns">
            {% if item.content %}
                <p>{{ item.content }}</p>
                <span><em>In response to <a href="{{ item.prompt.get_absolute_url }}">{{ item.prompt.title }}</a></em></span>
            {% else %}
                <p>{{ item.message }}</p>
                <span><em>A <a href="{{ item.get_absolute_url }}">prompt</a> by <a href="{% url 'user_view' item.user.username %}">{{ item.user.name }}</a></em></span>
            {% endif %}
        </div>
    {% if forloop.counter|divisibleby:"3" %}
    </div>
    {% endif %}
{% endfor %}

{% endblock %}
