{% extends "base.html" %}

{% block banner %}
<div class="row">
<div class="seven columns topbar">
<h1>{{ person.name }}</h1>
</div>
<div class="five columns control topbar">
    {% if user.id == person.auth_user.id %}
    <a class="button" href="{% url 'profile_edit' %}">Edit Profile</a>
    <a class="button" href="{% url 'list_add' %}">Create List</a>
    {% endif %}
</div>
</div>
<p><em>Joined <span class="human-timestamp">{{ person.date_joined|date:"Y-n-j" }}</span></em></p>
{% endblock %}

{% block full %}
<div class="block-listing row">

{% for list in lists %}
    <div class="block four columns">
        <h6><a href="{% url 'list_view' list.id %}">{{ list.title }}</a></h6>
        <p>{{ list.description }}</p>
    </div>
{% endfor %}
</div>

{% endblock %}
