{% extends "base.html" %}

{% block left %}
<div class="topbar">
<h1>{{ person.name }}</h1>
</div>
{% endblock %}

{% block right %}
<div class="control topbar">
    {% if user.id == person.auth_user.id %}
    <a class="button" href="{% url 'list_add' %}">Create List</a>
    {% endif %}
</div>
{% endblock %}

{% block full %}
<div class="block-listing row">
{% for list in lists %}
    <div class="block four columns">
        <h6><a href="{% url 'list_view' list.id %}">{{ list.title }}</a></h6>
        <p>{{ list.description }}</p>
    </div>
{% endfor %}
</div>

{% endblock %}
